In this project, I am going to implement a simple matrix factorization for MovieLens 25m dataset

Importing Libraries

In [1]:
import numpy as np
import pandas  as pd
import matplotlib.pyplot as plt

Dataset:

In [2]:
movies = pd.read_csv('ml-25m/movies.csv')

In [3]:
ratings = pd.read_csv('ml-25m/ratings.csv')

In [4]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [5]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

Removing the columns we don't need

In [6]:
movies = movies.drop('genres', axis=1)

In [7]:
ratings = ratings.drop('timestamp', axis=1)

Merging the two dataset

In [8]:
df = ratings.merge(movies, on = 'movieId')

In [9]:
df

          userId  movieId  rating                         title
0              1      296     5.0           Pulp Fiction (1994)
1              3      296     5.0           Pulp Fiction (1994)
2              4      296     4.0           Pulp Fiction (1994)
3              5      296     4.0           Pulp Fiction (1994)
4              7      296     4.0           Pulp Fiction (1994)
...          ...      ...     ...                           ...
25000090  162358   200192     2.0   Den frusna leoparden (1986)
25000091  162358   200194     2.0             Tough Luck (2004)
25000092  162386   139970     3.5  I Don't Speak English (1995)
25000093  162386   200726     4.0          The Graduates (1995)
25000094  162386   200728     4.0    Il pesce innamorato (1999)

[25000095 rows x 4 columns]

droping samples from dataset for run time

In [10]:
df = df.sample(frac = 0.004)

In [11]:
df

          userId  movieId  rating                           title
17993221   37563    50923     3.0    Astronaut Farmer, The (2007)
2873625   103410     2762     4.0         Sixth Sense, The (1999)
23946772   90691     6094     4.5               Liquid Sky (1982)
20971002   20674    34336     3.0           Must Love Dogs (2005)
16623584  117545      673     1.0                Space Jam (1996)
...          ...      ...     ...                             ...
4968341    32886     2105     3.5                     Tron (1982)
23841135  148793    30850     5.0  Merchant of Venice, The (2004)
10981163   88435      329     3.0   Star Trek: Generations (1994)
3472376    89413     4995     2.5        Beautiful Mind, A (2001)
2020640   131690     1275     3.0               Highlander (1986)

[100000 rows x 4 columns]

splitting data into train - validate - test sets

In [12]:
uniqueU = np.unique(df['userId'])
uniqueM = np.unique(df['movieId'])

In [13]:
n_users = len(uniqueU)
n_movies = len(uniqueM)

In [14]:
n_users

54872

In [15]:
n_movies

10233

In [16]:
usersrow = {}
moviescolumn = {}
for i, user_id in enumerate(uniqueU):
        usersrow[user_id] = i

for j, movie_id in enumerate(uniqueM):
        moviescolumn[movie_id] = j

In [17]:
usersrow

{2: 0,
 3: 1,
 4: 2,
 8: 3,
 12: 4,
 13: 5,
 19: 6,
 20: 7,
 25: 8,
 28: 9,
 31: 10,
 35: 11,
 36: 12,
 38: 13,
 43: 14,
 46: 15,
 48: 16,
 52: 17,
 57: 18,
 59: 19,
 61: 20,
 64: 21,
 65: 22,
 66: 23,
 67: 24,
 68: 25,
 69: 26,
 70: 27,
 72: 28,
 75: 29,
 76: 30,
 85: 31,
 91: 32,
 93: 33,
 95: 34,
 96: 35,
 107: 36,
 113: 37,
 120: 38,
 123: 39,
 125: 40,
 127: 41,
 132: 42,
 134: 43,
 158: 44,
 159: 45,
 164: 46,
 166: 47,
 169: 48,
 171: 49,
 172: 50,
 175: 51,
 176: 52,
 177: 53,
 181: 54,
 185: 55,
 186: 56,
 187: 57,
 188: 58,
 189: 59,
 195: 60,
 200: 61,
 201: 62,
 204: 63,
 215: 64,
 216: 65,
 218: 66,
 219: 67,
 224: 68,
 225: 69,
 226: 70,
 233: 71,
 235: 72,
 236: 73,
 240: 74,
 243: 75,
 245: 76,
 248: 77,
 250: 78,
 256: 79,
 259: 80,
 260: 81,
 261: 82,
 265: 83,
 277: 84,
 278: 85,
 280: 86,
 281: 87,
 284: 88,
 285: 89,
 288: 90,
 293: 91,
 294: 92,
 296: 93,
 298: 94,
 299: 95,
 302: 96,
 304: 97,
 309: 98,
 313: 99,
 318: 100,
 319: 101,
 322: 102,
 331: 103,
 333: 104,
 335: 105,
 337: 106,
 338: 107,
 347: 108,
 348: 109,
 355: 110,
 357: 111,
 358: 112,
 359: 113,
 363: 114,
 364: 115,
 368: 116,
 370: 117,
 374: 118,
 379: 119,
 382: 120,
 387: 121,
 388: 122,
 390: 123,
 395: 124,
 397: 125,
 398: 126,
 399: 127,
 402: 128,
 416: 129,
 419: 130,
 426: 131,
 427: 132,
 435: 133,
 440: 134,
 445: 135,
 446: 136,
 450: 137,
 457: 138,
 458: 139,
 459: 140,
 460: 141,
 461: 142,
 462: 143,
 464: 144,
 468: 145,
 469: 146,
 470: 147,
 477: 148,
 482: 149,
 483: 150,
 486: 151,
 489: 152,
 491: 153,
 494: 154,
 497: 155,
 501: 156,
 503: 157,
 515: 158,
 519: 159,
 521: 160,
 526: 161,
 532: 162,
 537: 163,
 541: 164,
 542: 165,
 544: 166,
 548: 167,
 550: 168,
 554: 169,
 561: 170,
 564: 171,
 565: 172,
 566: 173,
 567: 174,
 575: 175,
 579: 176,
 580: 177,
 583: 178,
 584: 179,
 587: 180,
 592: 181,
 606: 182,
 608: 183,
 610: 184,
 613: 185,
 619: 186,
 624: 187,
 626: 188,
 627: 189,
 628: 190,
 630: 191,
 632: 192,
 635: 193,
 637: 194,
 642: 195,
 649: 196,
 653: 197,
 655: 198,
 658: 199,
 666: 200,
 669: 201,
 674: 202,
 675: 203,
 676: 204,
 686: 205,
 689: 206,
 690: 207,
 694: 208,
 695: 209,
 696: 210,
 698: 211,
 702: 212,
 707: 213,
 709: 214,
 710: 215,
 712: 216,
 714: 217,
 715: 218,
 723: 219,
 724: 220,
 727: 221,
 734: 222,
 736: 223,
 738: 224,
 740: 225,
 741: 226,
 748: 227,
 751: 228,
 755: 229,
 756: 230,
 757: 231,
 763: 232,
 765: 233,
 767: 234,
 768: 235,
 770: 236,
 779: 237,
 784: 238,
 785: 239,
 787: 240,
 793: 241,
 795: 242,
 797: 243,
 798: 244,
 801: 245,
 803: 246,
 804: 247,
 805: 248,
 822: 249,
 824: 250,
 826: 251,
 828: 252,
 830: 253,
 833: 254,
 837: 255,
 840: 256,
 844: 257,
 846: 258,
 847: 259,
 848: 260,
 854: 261,
 857: 262,
 858: 263,
 860: 264,
 861: 265,
 864: 266,
 865: 267,
 870: 268,
 871: 269,
 872: 270,
 877: 271,
 879: 272,
 880: 273,
 886: 274,
 888: 275,
 891: 276,
 892: 277,
 893: 278,
 894: 279,
 896: 280,
 897: 281,
 901: 282,
 902: 283,
 903: 284,
 904: 285,
 905: 286,
 909: 287,
 910: 288,
 911: 289,
 917: 290,
 922: 291,
 924: 292,
 925: 293,
 927: 294,
 933: 295,
 937: 296,
 939: 297,
 942: 298,
 944: 299,
 947: 300,
 948: 301,
 951: 302,
 952: 303,
 954: 304,
 960: 305,
 966: 306,
 967: 307,
 968: 308,
 969: 309,
 974: 310,
 979: 311,
 982: 312,
 983: 313,
 986: 314,
 987: 315,
 988: 316,
 993: 317,
 996: 318,
 997: 319,
 1011: 320,
 1012: 321,
 1014: 322,
 1015: 323,
 1019: 324,
 1020: 325,
 1026: 326,
 1028: 327,
 1030: 328,
 1036: 329,
 1052: 330,
 1061: 331,
 1062: 332,
 1065: 333,
 1066: 334,
 1067: 335,
 1070: 336,
 1078: 337,
 1089: 338,
 1092: 339,
 1093: 340,
 1094: 341,
 1101: 342,
 1103: 343,
 1107: 344,
 1108: 345,
 1115: 346,
 1122: 347,
 1123: 348,
 1126: 349,
 1127: 350,
 1130: 351,
 1131: 352,
 1137: 353,
 1139: 354,
 1141: 355,
 1142: 356,
 1144: 357,
 1146: 358,
 1148: 359,
 1150: 360,
 1152: 361,
 1155: 362,
 1156: 363,
 1158: 364,
 1159: 365,
 1160: 366,
 1163: 367,
 1165: 368,
 1168: 369,
 1171: 370,
 1173: 371,
 1176: 372,
 1178: 373,
 1184: 374,
 1189: 375,
 1190: 376,
 1194: 377,
 1196: 378,
 1203: 379,
 1205: 380,
 1208: 381,
 1209: 382,
 1211: 383,
 1214: 384,
 1220: 385,
 1228: 386,
 1232: 387,
 1241: 388,
 1242: 389,
 1243: 390,
 1253: 391,
 1254: 392,
 1260: 393,
 1261: 394,
 1263: 395,
 1264: 396,
 1271: 397,
 1273: 398,
 1280: 399,
 1281: 400,
 1284: 401,
 1288: 402,
 1289: 403,
 1290: 404,
 1297: 405,
 1298: 406,
 1303: 407,
 1304: 408,
 1305: 409,
 1307: 410,
 1313: 411,
 1314: 412,
 1316: 413,
 1319: 414,
 1321: 415,
 1328: 416,
 1329: 417,
 1330: 418,
 1337: 419,
 1339: 420,
 1342: 421,
 1344: 422,
 1347: 423,
 1351: 424,
 1352: 425,
 1353: 426,
 1354: 427,
 1355: 428,
 1357: 429,
 1362: 430,
 1363: 431,
 1367: 432,
 1371: 433,
 1377: 434,
 1382: 435,
 1383: 436,
 1384: 437,
 1387: 438,
 1390: 439,
 1391: 440,
 1397: 441,
 1398: 442,
 1401: 443,
 1402: 444,
 1405: 445,
 1409: 446,
 1418: 447,
 1428: 448,
 1431: 449,
 1433: 450,
 1436: 451,
 1438: 452,
 1442: 453,
 1447: 454,
 1452: 455,
 1454: 456,
 1463: 457,
 1471: 458,
 1474: 459,
 1475: 460,
 1477: 461,
 1478: 462,
 1480: 463,
 1484: 464,
 1486: 465,
 1488: 466,
 1492: 467,
 1494: 468,
 1497: 469,
 1499: 470,
 1503: 471,
 1505: 472,
 1507: 473,
 1512: 474,
 1526: 475,
 1527: 476,
 1528: 477,
 1533: 478,
 1535: 479,
 1541: 480,
 1544: 481,
 1545: 482,
 1549: 483,
 1551: 484,
 1552: 485,
 1553: 486,
 1558: 487,
 1568: 488,
 1571: 489,
 1578: 490,
 1583: 491,
 1585: 492,
 1587: 493,
 1588: 494,
 1591: 495,
 1592: 496,
 1595: 497,
 1596: 498,
 1609: 499,
 1610: 500,
 1613: 501,
 1614: 502,
 1616: 503,
 1617: 504,
 1619: 505,
 1624: 506,
 1626: 507,
 1628: 508,
 1639: 509,
 1642: 510,
 1644: 511,
 1645: 512,
 1646: 513,
 1647: 514,
 1649: 515,
 1652: 516,
 1654: 517,
 1655: 518,
 1657: 519,
 1661: 520,
 1669: 521,
 1672: 522,
 1673: 523,
 1675: 524,
 1676: 525,
 1678: 526,
 1679: 527,
 1681: 528,
 1684: 529,
 1686: 530,
 1687: 531,
 1688: 532,
 1693: 533,
 1695: 534,
 1696: 535,
 1699: 536,
 1704: 537,
 1709: 538,
 1711: 539,
 1712: 540,
 1714: 541,
 1716: 542,
 1717: 543,
 1720: 544,
 1721: 545,
 1722: 546,
 1743: 547,
 1745: 548,
 1746: 549,
 1748: 550,
 1752: 551,
 1758: 552,
 1759: 553,
 1761: 554,
 1762: 555,
 1763: 556,
 1764: 557,
 1765: 558,
 1770: 559,
 1773: 560,
 1777: 561,
 1778: 562,
 1785: 563,
 1787: 564,
 1788: 565,
 1792: 566,
 1800: 567,
 1801: 568,
 1807: 569,
 1808: 570,
 1810: 571,
 1812: 572,
 1816: 573,
 1821: 574,
 1822: 575,
 1825: 576,
 1827: 577,
 1828: 578,
 1829: 579,
 1831: 580,
 1833: 581,
 1834: 582,
 1835: 583,
 1838: 584,
 1841: 585,
 1843: 586,
 1847: 587,
 1848: 588,
 1854: 589,
 1855: 590,
 1857: 591,
 1858: 592,
 1859: 593,
 1861: 594,
 1863: 595,
 1868: 596,
 1870: 597,
 1871: 598,
 1876: 599,
 1882: 600,
 1893: 601,
 1894: 602,
 1899: 603,
 1905: 604,
 1909: 605,
 1913: 606,
 1920: 607,
 1922: 608,
 1924: 609,
 1929: 610,
 1935: 611,
 1946: 612,
 1950: 613,
 1954: 614,
 1957: 615,
 1963: 616,
 1967: 617,
 1968: 618,
 1973: 619,
 1974: 620,
 1975: 621,
 1977: 622,
 1978: 623,
 1989: 624,
 2002: 625,
 2003: 626,
 2004: 627,
 2005: 628,
 2006: 629,
 2012: 630,
 2016: 631,
 2019: 632,
 2020: 633,
 2021: 634,
 2032: 635,
 2037: 636,
 2039: 637,
 2040: 638,
 2045: 639,
 2046: 640,
 2048: 641,
 2052: 642,
 2054: 643,
 2058: 644,
 2059: 645,
 2060: 646,
 2061: 647,
 2063: 648,
 2076: 649,
 2077: 650,
 2079: 651,
 2080: 652,
 2083: 653,
 2084: 654,
 2090: 655,
 2091: 656,
 2095: 657,
 2098: 658,
 2104: 659,
 2106: 660,
 2108: 661,
 2109: 662,
 2111: 663,
 2124: 664,
 2128: 665,
 2132: 666,
 2133: 667,
 2134: 668,
 2138: 669,
 2140: 670,
 2141: 671,
 2142: 672,
 2144: 673,
 2145: 674,
 2146: 675,
 2150: 676,
 2152: 677,
 2153: 678,
 2154: 679,
 2155: 680,
 2158: 681,
 2160: 682,
 2164: 683,
 2165: 684,
 2166: 685,
 2169: 686,
 2171: 687,
 2172: 688,
 2173: 689,
 2176: 690,
 2177: 691,
 2189: 692,
 2192: 693,
 2195: 694,
 2204: 695,
 2206: 696,
 2208: 697,
 2212: 698,
 2213: 699,
 2215: 700,
 2216: 701,
 2217: 702,
 2222: 703,
 2223: 704,
 2226: 705,
 2231: 706,
 2234: 707,
 2240: 708,
 2243: 709,
 2246: 710,
 2248: 711,
 2254: 712,
 2262: 713,
 2264: 714,
 2267: 715,
 2269: 716,
 2274: 717,
 2277: 718,
 2280: 719,
 2287: 720,
 2289: 721,
 2290: 722,
 2294: 723,
 2298: 724,
 2300: 725,
 2302: 726,
 2304: 727,
 2313: 728,
 2315: 729,
 2316: 730,
 2318: 731,
 2324: 732,
 2326: 733,
 2330: 734,
 2334: 735,
 2335: 736,
 2341: 737,
 2342: 738,
 2345: 739,
 2348: 740,
 2349: 741,
 2354: 742,
 2355: 743,
 2359: 744,
 2360: 745,
 2363: 746,
 2367: 747,
 2374: 748,
 2375: 749,
 2378: 750,
 2379: 751,
 2384: 752,
 2389: 753,
 2390: 754,
 2391: 755,
 2394: 756,
 2397: 757,
 2398: 758,
 2400: 759,
 2403: 760,
 2408: 761,
 2409: 762,
 2413: 763,
 2414: 764,
 2415: 765,
 2418: 766,
 2419: 767,
 2420: 768,
 2422: 769,
 2424: 770,
 2425: 771,
 2427: 772,
 2429: 773,
 2430: 774,
 2437: 775,
 2440: 776,
 2443: 777,
 2444: 778,
 2447: 779,
 2448: 780,
 2449: 781,
 2451: 782,
 2453: 783,
 2455: 784,
 2457: 785,
 2458: 786,
 2460: 787,
 2462: 788,
 2463: 789,
 2464: 790,
 2465: 791,
 2469: 792,
 2473: 793,
 2479: 794,
 2481: 795,
 2483: 796,
 2485: 797,
 2489: 798,
 2495: 799,
 2498: 800,
 2499: 801,
 2500: 802,
 2502: 803,
 2503: 804,
 2504: 805,
 2508: 806,
 2509: 807,
 2517: 808,
 2523: 809,
 2527: 810,
 2533: 811,
 2534: 812,
 2535: 813,
 2536: 814,
 2538: 815,
 2544: 816,
 2552: 817,
 2558: 818,
 2559: 819,
 2561: 820,
 2563: 821,
 2564: 822,
 2567: 823,
 2576: 824,
 2577: 825,
 2581: 826,
 2583: 827,
 2588: 828,
 2589: 829,
 2590: 830,
 2592: 831,
 2594: 832,
 2595: 833,
 2598: 834,
 2601: 835,
 2602: 836,
 2604: 837,
 2605: 838,
 2607: 839,
 2609: 840,
 2616: 841,
 2617: 842,
 2620: 843,
 2626: 844,
 2629: 845,
 2634: 846,
 2638: 847,
 2640: 848,
 2646: 849,
 2649: 850,
 2651: 851,
 2653: 852,
 2658: 853,
 2660: 854,
 2662: 855,
 2663: 856,
 2669: 857,
 2671: 858,
 2672: 859,
 2679: 860,
 2681: 861,
 2685: 862,
 2687: 863,
 2690: 864,
 2691: 865,
 2692: 866,
 2701: 867,
 2709: 868,
 2710: 869,
 2714: 870,
 2719: 871,
 2721: 872,
 2724: 873,
 2725: 874,
 2734: 875,
 2735: 876,
 2738: 877,
 2739: 878,
 2754: 879,
 2760: 880,
 2766: 881,
 2768: 882,
 2771: 883,
 2774: 884,
 2775: 885,
 2778: 886,
 2780: 887,
 2783: 888,
 2785: 889,
 2786: 890,
 2788: 891,
 2797: 892,
 2801: 893,
 2804: 894,
 2805: 895,
 2806: 896,
 2815: 897,
 2819: 898,
 2827: 899,
 2833: 900,
 2834: 901,
 2841: 902,
 2847: 903,
 2848: 904,
 2849: 905,
 2856: 906,
 2859: 907,
 2861: 908,
 2862: 909,
 2865: 910,
 2871: 911,
 2872: 912,
 2878: 913,
 2883: 914,
 2885: 915,
 2887: 916,
 2897: 917,
 2899: 918,
 2920: 919,
 2923: 920,
 2925: 921,
 2930: 922,
 2931: 923,
 2932: 924,
 2933: 925,
 2937: 926,
 2938: 927,
 2948: 928,
 2951: 929,
 2953: 930,
 2955: 931,
 2961: 932,
 2962: 933,
 2963: 934,
 2968: 935,
 2973: 936,
 2974: 937,
 2982: 938,
 2984: 939,
 2987: 940,
 2989: 941,
 2990: 942,
 2992: 943,
 3004: 944,
 3006: 945,
 3007: 946,
 3010: 947,
 3012: 948,
 3013: 949,
 3016: 950,
 3020: 951,
 3022: 952,
 3024: 953,
 3027: 954,
 3028: 955,
 3029: 956,
 3032: 957,
 3034: 958,
 3039: 959,
 3040: 960,
 3046: 961,
 3050: 962,
 3053: 963,
 3055: 964,
 3056: 965,
 3058: 966,
 3062: 967,
 3064: 968,
 3070: 969,
 3072: 970,
 3078: 971,
 3081: 972,
 3083: 973,
 3087: 974,
 3088: 975,
 3089: 976,
 3092: 977,
 3103: 978,
 3105: 979,
 3107: 980,
 3112: 981,
 3114: 982,
 3115: 983,
 3116: 984,
 3128: 985,
 3131: 986,
 3148: 987,
 3150: 988,
 3154: 989,
 3155: 990,
 3158: 991,
 3162: 992,
 3164: 993,
 3168: 994,
 3170: 995,
 3173: 996,
 3180: 997,
 3190: 998,
 3196: 999,
 ...}

In [18]:
train_size = 0.8
validate_size = 0.1
train, validate, test = np.split(df.sample(frac=1), [int(train_size * len(df)), int((validate_size + train_size) * len(df))])

In [19]:
train

          userId  movieId  rating                                    title
24159831  108645     7193     1.0  Adventures of Ford Fairlane, The (1990)
12502713   38670      938     3.5                              Gigi (1958)
7421682    86529    57669     4.5                         In Bruges (2008)
14442669   34362     2460     3.5    Texas Chainsaw Massacre 2, The (1986)
23691843   27551     2148     4.5                             House (1986)
...          ...      ...     ...                                      ...
17325158  124042     1958     2.5               Terms of Endearment (1983)
11861539     566     1573     4.0                          Face/Off (1997)
13768043   19615     1405     2.5   Beavis and Butt-Head Do America (1996)
23093346   32103    71282     3.0                        Food, Inc. (2008)
16037372    9770    71135     3.5                          Pandorum (2009)

[80000 rows x 4 columns]

In [20]:
validate

,userId,movieId,rating,title
17080435,105964,156,5.0,Blue in the Face (1995)
16384995,128305,353,4.5,"Crow, The (1994)"
24387564,103232,109846,3.5,Mr. Peabody & Sherman (2014)
4653867,5262,1213,4.5,Goodfellas (1990)
5297006,117031,3702,3.5,Mad Max (1979)
...,...,...,...,...
13167508,111188,31,2.5,Dangerous Minds (1995)
588029,148079,8360,4.0,Shrek 2 (2004)
13066571,157501,3868,3.0,"Naked Gun: From the Files of Police Squad!, Th..."
4162765,106449,173,2.0,Judge Dredd (1995)
14897332,8709,3397,3.5,"Great Muppet Caper, The (1981)"

In [21]:
test

          userId  movieId  rating                                        title
4695478    44900     1214     5.0                                 Alien (1979)
15392102  105451    44761     3.5                                 Brick (2005)
21904028   91493    68205     4.5                   Crank: High Voltage (2009)
16523274  146711     2712     3.0                        Eyes Wide Shut (1999)
185533     79771     2011     5.0            Back to the Future Part II (1989)
...          ...      ...     ...                                          ...
2042994    26812     1291     4.0    Indiana Jones and the Last Crusade (1989)
18492012   29677     1892     2.0                     Perfect Murder, A (1998)
19679783    3369     1081     1.0                       Victor/Victoria (1982)
11872238   87480     1573     3.0                              Face/Off (1997)
4943942      245     2019     5.0  Seven Samurai (Shichinin no samurai) (1954)

[10000 rows x 4 columns]

 Converting the dataframes into matrix

In [22]:
R = np.zeros((n_users, n_movies))
R_test = np.zeros((n_users, n_movies))
R_valid = np.zeros((n_users, n_movies))

In [23]:
for index, row in train.iterrows():
  i = usersrow[row.userId]
  j = moviescolumn[row.movieId]
  R[i, j] = row.rating

In [24]:
R

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [25]:
for index, row in validate.iterrows():
  i = usersrow[row.userId]
  j = moviescolumn[row.movieId]
  R_valid[i, j] = row.rating

In [26]:
R_valid

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [27]:
for index, row in test.iterrows():
  i = usersrow[row.userId]
  j = moviescolumn[row.movieId]
  R_test[i, j] = row.rating

In [28]:
R_test

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

Model

In [29]:
def predict(user_id, movie_id, P, Q):
  return np.dot(P[usersrow[user_id],:], Q[moviescolumn[movie_id],:].T)

In [30]:
def rmse(E, P, Q):
    users, items = E.nonzero()
    sum = 0
    for u, i in zip(users, items):  
        error = E[u, i] - np.dot(P[u,:], Q[i,:]).T
        sum += error**2
    return np.sqrt(sum/len(E[E > 0]))

In [31]:
def basic_mf(E, E_test, k, learning_rate, regularization, user_id):
    train_errors = []
    test_errors = []
    users, items = E.nonzero()
    P = np.random.rand(n_users, k)
    Q = np.random.rand(n_movies, k)
    t = 50
    for epoch in range(t+1):
        for u, i in zip(users, items):
            error = E[u, i] - np.dot(P[u,:], Q[i,:].T)
            P[u,:] += learning_rate * (error * Q[i,:] - regularization * P[u,:])
            Q[i,:] += learning_rate * (error * P[u,:] - regularization * Q[i,:])
        train_rmse = rmse(E,P,Q)
        test_rmse = rmse(E_test,P,Q)
        train_errors.append(train_rmse)
        test_errors.append(test_rmse)
        predictions = np.zeros((n_movies, 1))
        movie_to_column_items = np.array(list(moviescolumn.items()))
        for i, movie in enumerate(movie_to_column_items):
          predictions[i] = predict(user_id, movie[0], P, Q)
    df_result = pd.DataFrame(columns=['UserID', 'MovieID', 'Prediction'])
    indices = np.argsort(-predictions, axis=0)
    for j in range(10):
      movie_id = int(movie_to_column_items[np.where(movie_to_column_items[:, 1] == indices[j])][0][0])
      df_result = pd.DataFrame({
      'UserID': user_id,
      'MovieID': movie_id,
      'Prediction': predictions[indices[j]][0][0]}, index=[j])
    return train_errors, test_errors, df_result

In [32]:
from itertools import product
K = [2,3,5,7,9]
LearningRates = [0.01, 0.001, 0.0001]
Regularizations = [0.1, 0.01, 0.001, 0.0001]
prods = list(product(K, LearningRates, Regularizations))
for k1, l1, r1 in prods:
  funk = basic_mf(R.copy(), R_valid.copy(), k1, l1, r1, 60148)
  print(f"Params: {k1}, {l1}, {r1};\ttrain loss: {funk[0][50]:.3f},\tvalid loss: {funk[1][50]:.3f}")

epoch=0
epoch=1
epoch=2
epoch=3
epoch=4
epoch=5
epoch=6
epoch=7
epoch=8
epoch=9
epoch=10
epoch=11
epoch=12
epoch=13
epoch=14
epoch=15
epoch=16
epoch=17
epoch=18
epoch=19
epoch=20
epoch=21
epoch=22
epoch=23
epoch=24
epoch=25
epoch=26
epoch=27
epoch=28
epoch=29
epoch=30
epoch=31
epoch=32
epoch=33
epoch=34
epoch=35
epoch=36
epoch=37
epoch=38
epoch=39
epoch=40
epoch=41
epoch=42
epoch=43
epoch=44
epoch=45
epoch=46
epoch=47
epoch=48
epoch=49
epoch=50
Params: 2, 0.01, 0.1;	train loss: 0.505,	valid loss: 1.756
epoch=0
epoch=1
epoch=2
epoch=3
epoch=4
epoch=5
epoch=6
epoch=7
epoch=8
epoch=9
epoch=10
epoch=11
epoch=12
epoch=13
epoch=14
epoch=15
epoch=16
epoch=17
epoch=18
epoch=19
epoch=20
epoch=21
epoch=22
epoch=23
epoch=24
epoch=25
epoch=26
epoch=27
epoch=28
epoch=29
epoch=30
epoch=31
epoch=32
epoch=33
epoch=34
epoch=35
epoch=36
epoch=37
epoch=38
epoch=39
epoch=40
epoch=41
epoch=42
epoch=43
epoch=44
epoch=45
epoch=46
epoch=47
epoch=48
epoch=49
epoch=50
Params: 2, 0.01, 0.01;	train loss: 0.468,	valid loss: 1.667
epoch=0
epoch=1
epoch=2
epoch=3
epoch=4
epoch=5
epoch=6
epoch=7
epoch=8
epoch=9
epoch=10
epoch=11
epoch=12
epoch=13
epoch=14
epoch=15
epoch=16
epoch=17
epoch=18
epoch=19
epoch=20
epoch=21
epoch=22
epoch=23
epoch=24
epoch=25
epoch=26
epoch=27
epoch=28
epoch=29
epoch=30
epoch=31
epoch=32
epoch=33
epoch=34
epoch=35
epoch=36
epoch=37
epoch=38
epoch=39
epoch=40
epoch=41
epoch=42
epoch=43
epoch=44
epoch=45
epoch=46
epoch=47
epoch=48
epoch=49
epoch=50
Params: 2, 0.01, 0.001;	train loss: 0.471,	valid loss: 1.655
epoch=0

KeyboardInterrupt:

In [ ]:
basicmf = basic_mf(R.copy(), R_test.copy(), 3, 50, 0.001, 0.01, 50)

epoch=0
train_rmse=2.590783238746999
test_rmse=2.599918221406997
epoch=1
train_rmse=2.3392463195501474
test_rmse=2.3569553215538495
epoch=2
train_rmse=2.160892095974894
test_rmse=2.1878202899151744
epoch=3
train_rmse=2.024355423014294
test_rmse=2.0608566175192413
epoch=4
train_rmse=1.9151689159047587
test_rmse=1.9612805098604857
epoch=5
train_rmse=1.8253475365648237
test_rmse=1.880884024354407
epoch=6
train_rmse=1.7498894901760154
test_rmse=1.8145383343460355
epoch=7
train_rmse=1.6854066845805322
test_rmse=1.758796081633051
epoch=8
train_rmse=1.6294963519204857
test_rmse=1.7112366564111188
epoch=9
train_rmse=1.580406332043046
test_rmse=1.6701130219516316
epoch=10
train_rmse=1.5368339786791803
test_rmse=1.6341390989585336
epoch=11
train_rmse=1.4977952472692408
test_rmse=1.602352184193444
epoch=12
train_rmse=1.4625355240315363
test_rmse=1.5740201807386995
epoch=13
train_rmse=1.430467463570944

In [ ]:
plt.plot(range(51), mf[0], marker='o', label='Training Data')
plt.plot(range(51), mf[1], marker='v', label='Test_data')
plt.title('Gradient Descent Learning Curve')
plt.xlabel('Number of Epochs')
plt.ylabel(' Improved RegSVD RMSE')
plt.legend()
plt.grid()